div.awards{
	padding: 2em;
}

div.awards h4{
	text-decoration: underline;
}

div.awards span{
	text-decoration: underline;
	display: block;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}