/*custom site styling, add styles as need be */
#page-wrapper{
	margin-top: 50px;
	padding-left: 50px;
}

.list li:hover{
	cursor: pointer;
}

.list td:hover{
	cursor: pointer;
}

div.rss-item:nth-child(2n+1){
	background-color: #f7f7f7;		
}
div.rss-item{
	padding: 20px;
}
div.chart{
	min-height: 600px;
	background-color: #f7f7f7;
}


#loading{
	position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: none;
    background-image: url('/img/loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    top: 275px;
    background-color: white;
}

div.activeLoading{
	display: block !important;
}